#notesContainer{
    text-align: center;
}

#textareaContainer{
    height: 300px;
    width: 80%;
    background-color: #f3c59a;
    border-radius: 5px;
    padding-left: 3%;
    padding-top: 1%;
    margin-bottom: 5%;
    margin-top: 8%
}
